*, html, body {
    margin: 0;
    padding: 0;
}

body {
  background: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;

}

.header {
  position: relative;
  border-bottom: 1px solid #2F3E53;
  /* margin-left: 52px; */
  margin-right: 52px;
  margin-top: 0px;
  padding-left: 0;
  margin-left: 52px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.header h1 {
    text-align: left;
    font-family: karla;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    /* or 100% */

    letter-spacing: -0.025em;
    margin-top: 118px;

    /* white */

    color: #ffffff;

}

.title-bold {
  color: #4ADF86;
}

#generate-btn {
  margin-bottom: 20px;
  margin-top: 21px;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 17px 9px 15px;
  background: rgba(16, 185, 129, 1);
  /* shadow/sm */
  border: none;
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

}

#generate-btn:active {
  opacity: 0.6;
}

.rangeslider {
    margin-left: 0;
}

#generate-btn:hover {
  background: rgba(16, 185, 129, 0.8);
}

#lightning-icon {
  height: 18.000144958496094px;
  width: 14.000007629394531px;
  left: 3px;
  margin-right:15px;
  top: 0.99993896484375px;
  border-radius: 0px;
}

.header h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #D5D4D8;
  margin-top: 10px;
}

main {
  position: absolute;
  width: 550px;
  height: 550px;
  margin: 0 auto;
  left: calc(100% / 2 - 550px / 2);
  top: 64px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: #1F2937;
}

.output-boxes {
  margin: 0;
  padding: 0;
  left: 30px;
  right: 30px;
  position: absolute;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  /* flex-flow: wrap; */
/*
  border: 1px solid yellow; */

  text-align: center;
  overflow: hidden;
}

.boxes {
  margin: auto;
  position: sticky;
  background: #273549;
  border-radius: 6px;
  width: 47.5%;
  height: 55px;
  left: 0px;
  text-align: center;
  /* margin-bottom: 46px; */
  cursor: pointer;

}

.boxes p {
  text-align: center;
  color: rgba(16, 185, 129, 1);
  position: sticky;
  margin: 5px 7px;
  font-size: 16px;
  flex-shrink: 1;
}

.boxes:active {
  opacity: 0.8;
}

.boxes img {
  position: absolute;
  padding-left:0;
  margin-top: 12px;
  margin-right: 3px;
  margin-left: 0;
  padding: 0;
  height: 5px;
  width: 20px;
  border-radius: 0px;
  filter: invert(13%) sepia(14%) saturate(1702%) hue-rotate(178deg) brightness(96%) contrast(90%);

}

#box1 {
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: 24px;
}

#box2 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

#box3 {
  margin-right: 24px;

}

#box4 {
  margin: 0;
  padding: 0;

}

.pass-length {
    -webkit-appearance:none;
    background: #FCF3CF;
    width: 40%;
    height: 20px;
    opacity: 2;
    left: 40px;
    margin: 0;
    background: black;
    border-radius: 10px;
    margin-top: 32px;
    margin-left: 25px;
    padding-right: 10px;
}

.pass-length:hover {
    opacity: 1;
}

.pass-length::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(16, 185, 129, 1);
  cursor: pointer;
}

.pass-length::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(16, 185, 129, 1);
  cursor: pointer;
}
.flex-btn {
    display: flex;
    position: relative;
    margin: 0;
}

#slider-val {
    margin: 0;
    margin-left: 10px;
    font-size: 18px;
}

.flex-btn p {
    font-size: 16px;
    color: #ffffff;
}

.value-val {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    left: 245px;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-left: 5px;
    text-align: center;
    font-size: 20px;
}

.alert {
  width: 100px;
  left: 425px;
  text-align: center;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 0px;
  font-size: 10px;
  background: none;
  border: none;
}

.alertP {
  position: relative;
  margin: 0;
  right: auto;
  text-align: center;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  font-size: 10px;
  background: none;
  border: none;
}

@media only screen and (min-width: 756px) {

  html {
    width: 100vw;
    height: 100vh;
    padding: 0;

  }

  body {
    /* display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0; */
    width: 100vw;
    height: 100vh;
    background: #1F2937;
  }

  main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0 3rem;
    padding-top: 5rem;
    left: 0;
    right: 0;
    height: fit-content;
    width: 100%;
    top: 0;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 3rem;
    border: none;
  }

  .header h1 {
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 7rem;
    line-height: 7.5rem;
  }

  .header h2 {
    font-size: 3rem;
    margin: 2rem 0;
    text-align: center;
    line-height: 3.4rem;
  }

  .output-boxes {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #sliderRange::-webkit-slider-thumb {
    height: 70px;
    width: 70px;
    margin: 0;
  }

  p.alertP,
  .alert {
    margin: 4rem 0;
    font-size: 2.5rem;
  }

  .flex-btn {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #generate-btn {
    margin-bottom: 20px;
    margin-top: 21px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem;
    background: rgba(16, 185, 129, 1);
    border: none;
    box-shadow: 2px 1px 2px rgb(0 0 0 / 5%);
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
  }

  #lightning-icon {
    width: 25px;
    height: 25px;
  }

  .value-val {
    position: relative;
    width: 100%;
    left: 0;
    margin: 3rem 0;
    justify-content: center;
  
  }

  .flex-btn p,
  #slider-val {
    padding: 0;
    font-size: 3rem;
  }

  .output-boxes {
    justify-content: space-between;
    height: 40%;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .boxes {
    margin: 0;
    position: relative;
    width: 70%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .passwords {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .passwords img {
    margin: 0;
  }

  #box1,
  #box2,
  #box3,
  #box4 {
    margin: 0;
    margin-top: 5rem;
  }

  .output-boxes .boxes p {
    margin: 0;
    padding: 0;
    font-size: 2rem;
  }
}
